#projects{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.slider{
    width: 90%;
    height: 250px;
    display: flex;
    align-items: center;
    overflow-y: 0;
    overflow-x: scroll;
    gap: 10px;
    scrollbar-width: none;

}

#para{
    font-size: 4vmax;
        background: linear-gradient(to right,rgb(198, 66, 106),white);
background-clip: text;
color: transparent;
}

@media (max-width:750px) {
    #para{
        text-align: center;
    }
    
}