#contact{
    width: 100%;
    height: 100vh;
    display: flex;
}

.leftcontact{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftcontact img{
    width: 50%;
}

.rightcontact{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

form{
    width: 80%;
    height: 70%;
    
    border-radius: 10px;
    background-color: rgb(19, 25, 29);
    box-shadow: 2px 2px 10px black, 2px 2px 20px black ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

form:hover{
    box-shadow: 2px 2px 10px rgb(66, 188, 250), 2px 2px 20px rgb(66, 188, 250) ;
}

form input{
    width: 80%;
    height: 40px;
    border: 2px solid rgb(66, 188, 250);
    border-radius: 20px;
    padding: 20px;
    outline: none;
}

form textarea{
    width: 80%;
    height: 200px;
    border: 2px solid rgb(66, 188, 250);
    border-radius: 20px;
    padding: 20px;
    outline: none;
}

#btn{
    width: 120px;
    height: 50px;
    background-color: rgb(66, 188, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: all 0.5s;
    cursor: pointer;

}

#btn:hover{
  background-color: transparent;
  color: rgb(66, 188, 250);

}

@media (max-width:750px) {
    #contact{
        flex-direction: column;
    }

    .leftcontact{
        width: 100%;
        height: 50vh;
    }
    .leftcontact img{
        width: 80%;
    }
    .rightcontact{
        width: 100%;
    }
    
}